.dashboard{
    display: flex;
    margin: 0 auto;
    gap: 30px;
    flex-direction: column;
}

.app-title{
    font-size: 20pt;
    display: flex;
    justify-content: center;
}
.dash-panel{
    display: flex;
    gap: 30px;
}

#dash-link{
    text-decoration: none;
    font-size: 16pt;
    color:white;
    background-color: rgb(35,35,35);
    padding: 10px 20px;
}