.dashboard{
    display: flex;
    margin: 0 auto;
    gap: 30px;
    flex-direction: column;
}

.app-title{
    font-size: 20pt;
    display: flex;
    justify-content: center;
}
.dash-panel{
    display: flex;
    gap: 30px;
}

#dash-link{
    text-decoration: none;
    font-size: 16pt;
    color:white;
    background-color: rgb(35,35,35);
    padding: 10px 20px;
}

.main{
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr 2fr 2fr;
    gap: 30px;
    background-color: rgb(35,35,35);
}

.main>input{
    height: 30px;
}
.main>button{
    width: 300px;
    margin: 0 auto;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

#link-detail{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 8px;
}

.delete-cont{
    font-size: 13pt;
    padding-top: 30px;
    font-weight: 600;
}

.delete-cont>button{
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}