.dashboard{
    display: flex;
    margin: 0 auto;
    gap: 50px;
    flex-direction: column;
}

.app-title{
    font-size: 20pt;
    display: flex;
    justify-content: center;
}
.dash-panel{
    display: flex;
    gap: 10px;
}

#dash-link{
    text-decoration: none;
    font-size: 14pt;
    color:white;
    background-color: rgb(35,35,35);
    padding: 10px 20px;
}

#currentUser{
    display: flex;
    justify-content: center;
   align-items: center;
   font-size: 13pt;
   padding-left: 10px;
}
.log-out{
    cursor: pointer;
}
.main{
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 1.5fr 2fr 2fr;
    gap: 30px;
    background-color: rgb(35,35,35);
    
}

.main>input{
    height: 30px;
}
.main>button{
    width: 300px;
    margin: 0 auto;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

#link-detail{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 8px;
}

.delete-cont{
    font-size: 13pt;
    padding-top: 30px;
    font-weight: 600;
}

.delete-cont>button{
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

#data-cont{
    margin: 0 auto;
}


.alert-box{
    background-color: cornflowerblue;
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 14pt;
    position: absolute;
    right: 50px;
    top: 40px;
    opacity: 0.8;
   display: none;
}


/* DATA TABLE */
.data-table{
     border: 1px solid white;
     background-color: rgb(35,35,35);
}
 th, td {
    border:1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  th{
    font-size: 13pt;
    font-weight: 700;
    padding-bottom: 20px;
  }

#table-detail{
    text-decoration: underline;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12pt;

}
#table-name{
   border: none;
   border-bottom: 1px solid white;
}